/** @format */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Poppins:wght@500;600&display=swap");
@import "tailwindcss";

@theme {
  --font-poppins: "Poppins", sans-serif;
  --font-inter: "Inter", sans-serif;
}
@plugin "daisyui" {
  theme: light --default;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;

  --color-primary: #f97316;
  --color-secondary: #a4672b;

  --color-base-100: #f8f7f6;
  --color-base-200: #f5ede8;
  --color-base-300: #e7dfda;

  --color-base-content: #332e2b;
  --color-neutral-content: #6b625d;
  --color-primary-content: #ffffff;

  --color-neutral: #b8aea6; /* neutral surface  */
  --color-neutral-focus: #a89d96; /* neutral hover */

  --color-info: #3b82f6;
  --color-info-content: #2563eb;

  --color-success: #22c55e;
  --color-success-content: #15803d;

  /* --color-warning: #facc15;
  --color-warning-content: #b45309; */

  --color-error: #ef4444;
  --color-error-content: #b91c1c;

  /* --color-neutral: #d6ccc2;
  --color-neutral-focus: #c3b7ae; */
}

/* Apply to your scrollable div */
.scrollbar-custom::-webkit-scrollbar {
  height: 8px; /* horizontal scrollbar height */
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: #e5e7eb; /* Tailwind gray-200 */
  border-radius: 9999px;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background: #9ca3af; /* Tailwind gray-400 */
  border-radius: 9999px;
}

.scrollbar-custom::-webkit-scrollbar-thumb:hover {
  background: #6b7280; /* Tailwind gray-500 */
}

/* Firefox support */
.scrollbar-custom {
  scrollbar-width: thin;
  scrollbar-color: #9ca3af #e5e7eb;
}

.chat-bubble {
  white-space: pre-line;
}

.modal-box {
  width: 60%;
}
@media (min-width: 640px) {
  .modal-box {
    max-width: 32rem;
  }
}

@media (max-width: 639px) {
  .modal-box {
    width: 100%;
  }
}
