@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Poppins:wght@500;600&display=swap");
@import "tailwindcss";

@theme {
  --font-poppins: "Poppins", sans-serif;
  --font-inter: "Inter", sans-serif;
}
@plugin "daisyui" {
  theme: light --default;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;

  --color-primary: #f97316;
  --color-secondary: #fb923c;

  --color-base-100: #f8f7f6;
  --color-base-200: #f5ede8;
  --color-base-300: #e7dfda;

  --color-base-content: #332e2b;
  --color-neutral-content: #6b625d;
  --color-primary-content: #ffffff;

  --color-neutral: #b8aea6; /* neutral surface  */
  --color-neutral-focus: #a89d96; /* neutral hover */

  --color-info: #3b82f6;
  --color-info-content: #2563eb;

  --color-success: #22c55e;
  --color-success-content: #15803d;

  --color-warning: #facc15;
  --color-warning-content: #b45309;

  --color-error: #ef4444;
  --color-error-content: #b91c1c;

  /* --color-neutral: #d6ccc2;
  --color-neutral-focus: #c3b7ae; */
}
